@media screen and (min-width: 992px) {
    .chatInput {
        float: left;
        margin-left: 20%;
        /* margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 1%; */
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .chatInput {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }
}

.chatInput {
    position: fixed;
    bottom: 0;
    background-color: rgb(160, 160, 160);
}

/* ------------- */
#chat4 .form-control {
    border-color: transparent;
    }
    
    #chat4 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }