@media screen and (min-width: 992px) {
    .chatInput {
        float: left;
        margin-left: 20%;
        /* margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 1%; */
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .chatInput {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }
}

.chatInput {
    position: fixed;
    bottom: 0;
    background-color: rgb(160, 160, 160);
}