@media screen and (min-width: 992px) {
    .wrapper {
        float: left;
        margin-left: 20%;
        width: 80%;
        margin-bottom: 6%;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        padding-top: 66px;
        margin-bottom: 8%;
    }
}

.banner {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(20%);
}

.btn-plus {
    font-size: x-large;
}